### 常用快捷键
- 运行单元：Ctrl+Enter
- 插入单元在后面：Alt+Shift+B
- 插入单元在前方：Alt+Shift+A

### 常用统计函数
- size：计数（此函数不需要括号）
- sum()：求和
- mean():求平均值
- var()：方差
- std()：标准差

In [3]:
import pandas as pd
df = pd.read_excel(r'D:\users\lenovo\PyQt5\大数据分析\data\i_nuc.xls', 
                   sheetname='Sheet7')
print(df.head())

   Unnamed: 0          学号        班级  姓名 性别  英语  体育  军训  数分  高代  解几
0           0  2308024241  23080242  成龙  男  76  78  77  40  23  60
1           1  2308024244  23080242  周怡  女  66  91  75  47  47  44
2           2  2308024251  23080242  张波  男  85  81  75  45  45  60
3           3  2308024249  23080242  朱浩  男  65  50  80  72  62  71
4           4  2308024219  23080242  封印  女  73  88  92  61  47  46

In [4]:
df.数分.describe()

count    20.000000
mean     62.850000
std       9.582193
min      40.000000
25%      60.750000
50%      63.500000
75%      69.250000
max      78.000000
Name: 数分, dtype: float64

In [9]:
df.describe()

,Unnamed: 0,学号,班级,英语,体育,军训,数分,高代,解几
count,20.00000,2.000000e+01,2.000000e+01,20.000,20.000000,20.000000,20.000000,20.000000,20.000000
mean,9.50000,2.308024e+09,2.308024e+07,72.550,70.250000,75.800000,62.850000,62.150000,69.650000
std,5.91608,8.399160e+01,8.522416e-01,7.178,20.746274,26.486541,9.582193,15.142394,10.643876
min,0.00000,2.308024e+09,2.308024e+07,60.000,0.000000,0.000000,40.000000,23.000000,44.000000
25%,4.75000,2.308024e+09,2.308024e+07,66.000,65.500000,77.000000,60.750000,56.750000,66.750000
50%,9.50000,2.308024e+09,2.308024e+07,73.500,74.000000,84.000000,63.500000,65.500000,71.000000
75%,14.25000,2.308024e+09,2.308024e+07,76.250,80.250000,88.250000,69.250000,71.250000,77.000000
max,19.00000,2.308024e+09,2.308024e+07,85.000,96.000000,93.000000,78.000000,90.000000,83.000000

In [5]:
df.解几.size

20

In [6]:
df.解几.max()

83

In [7]:
df.解几.min()

44

In [8]:
df.解几.sum()

1393

In [10]:
df.解几.mean()

69.65

In [11]:
df.解几.var()

113.29210526315788

In [12]:
df.解几.std()

10.643876420889049

In [13]:
import numpy as np
np.mean(df['数分'])

62.85

In [14]:
np.average(df['数分'])

62.85

In [15]:
print(df.mode())

    Unnamed: 0          学号          班级   姓名   性别    英语    体育    军训    数分  \
0            0  2308024201  23080244.0   余皓    男  76.0  50.0  84.0  61.0
1            1  2308024219         NaN   周怡  NaN   NaN  67.0   NaN   NaN
2            2  2308024241         NaN   周路  NaN   NaN  74.0   NaN   NaN
3            3  2308024244         NaN  姜毅涛  NaN   NaN   NaN   NaN   NaN
4            4  2308024249         NaN   封印  NaN   NaN   NaN   NaN   NaN
5            5  2308024251         NaN   张波  NaN   NaN   NaN   NaN   NaN
6            6  2308024307         NaN   成龙  NaN   NaN   NaN   NaN   NaN
7            7  2308024310         NaN   朱浩  NaN   NaN   NaN   NaN   NaN
8            8  2308024320         NaN  李上初  NaN   NaN   NaN   NaN   NaN
9            9  2308024326         NaN  李侧通  NaN   NaN   NaN   NaN   NaN
10          10  2308024342         NaN   李华  NaN   NaN   NaN   NaN   NaN
11          11  2308024347         NaN   李嘉  NaN   NaN   NaN   NaN   NaN
12          12  2308024402         NaN  李大强  NaN   NaN   NaN   NaN   NaN
13          13  2308024421         NaN  李晓亮  NaN   NaN   NaN   NaN   NaN
14          14  2308024422         NaN  林建祥  NaN   NaN   NaN   NaN   NaN
15          15  2308024428         NaN   王慧  NaN   NaN   NaN   NaN   NaN
16          16  2308024432         NaN   赵宇  NaN   NaN   NaN   NaN   NaN
17          17  2308024433         NaN   迟培  NaN   NaN   NaN   NaN   NaN
18          18  2308024435         NaN   郭窦  NaN   NaN   NaN   NaN   NaN
19          19  2308024446         NaN   陈田  NaN   NaN   NaN   NaN   NaN

      高代    解几
0   47.0  71.0
1   70.0   NaN
2    NaN   NaN
3    NaN   NaN
4    NaN   NaN
5    NaN   NaN
6    NaN   NaN
7    NaN   NaN
8    NaN   NaN
9    NaN   NaN
10   NaN   NaN
11   NaN   NaN
12   NaN   NaN
13   NaN   NaN
14   NaN   NaN
15   NaN   NaN
16   NaN   NaN
17   NaN   NaN
18   NaN   NaN
19   NaN   NaN

### 分组分析
- 分组分析是根据分组字段，将分析对象划分为不同部分，以对比各个组之间的差异性
的一种方法。
- 常用统计指标有：**计数、求和、平均值**
常用命令如下：
df.groupby(by=['class1','class2'...])['被统计的列'].agg({列别名1:统计函数1}）

In [1]:
import numpy as np
from pandas import read_excel
df = read_excel(r'D:\users\lenovo\PyQt5\大数据分析\data\i_nuc.xls', 
                   sheetname='Sheet7')
df.head()
df.groupby('班级')['军训','英语','体育','性别'].mean()

D:\ProgramData\Anaconda3\lib\site-packages\pandas\util\_decorators.py:188: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  return func(*args, **kwargs)

                 军训         英语         体育
班级
23080242  81.333333  70.833333  73.000000
23080243  85.500000  71.000000  60.666667
23080244  64.375000  75.000000  75.375000

In [2]:
df.groupby(by=['班级','性别'])['军训'].agg({
    '总分':np.sum,
    '人数':np.size,
    '平均值':np.mean,
    '方差':np.var,
    '标准差':np.std,
    '最高分':np.max,
    '最低分':np.min
})

D:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version

              总分  人数        平均值           方差        标准差  最高分  最低分
班级       性别
23080242 女   167   2  83.500000   144.500000  12.020815   92   75
         男   321   4  80.250000    38.250000   6.184658   89   75
23080243 女   258   3  86.000000    12.000000   3.464102   90   84
         男   255   3  85.000000     1.000000   1.000000   86   84
23080244 女    93   2  46.500000  4324.500000  65.760931   93    0
         男   422   6  70.333333  1211.866667  34.811875   91    0

### 分布分析
- 分布分析，是指根据分析的目的，将数据（定量数据）进行等距或不等距的分组，
研究各组分布规律的一种分析方法。

In [4]:
df['总分']=df.体育+df.英语+df.军训+df.数分+df.高代+df.解几
df['总分'].head()

0    354
1    370
2    391
3    400
4    407
Name: 总分, dtype: int64